@import "variable";


body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $color-black;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.inner {
  max-width: 1200px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
