$color-white: #fff;
$color-black: #333333;
$color-footer: #F7F7F7;
$color-border: #777777;

$layout-width-inner: 1200px;

$breakpoints: (
//キー : 値
  'sp': "(max-width: 767px)", 
  'tab': "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})", 
  'pc': "(min-width: #{$layout-width-inner})"
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}